---
---

@import "{{ site.theme }}";
.page-header {
  font-family: "Courier", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

.site-footer-credits {
  display: none;
}
