---
---

@import "{{ site.theme }}";
.page-header {
  font-family: "Courier", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}

.site-footer-credits {
  display: none;
}

h2 {
  outline: 5px solid lightgrey;
  text-align: center;
  color: #000000;
}
